div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.nConsole{
    position: absolute;
    text-align: left;
    display: block;
  }

  div.nHandheld{
    position: absolute;
    display: block;
  }

  body{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    text-align: center;
    list-style-type: none;
  }

  h1{
    text-align: center;
  }

  .gallery{
    
  }