div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  body{
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
  }

  li{
    text-align: center;
    list-style-type: none;
  }

  h1{
    text-align: center;
  }

  h2{
    margin: auto;
    max-width: 100px;
    max-height: 30px;
  }