div.gallery {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 180px;
    animation-duration: 3s;
    animation-name: slide;
  }
  
  div.gallery:hover {
    border: 3px solid gold;
    opacity: 1;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    animation-duration: 1s;
    animation-name: slide;
  }

  @keyframes slide {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-right: 100%;
      width: 100%;
    }
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    animation-duration: 3s;
    animation-name: slide;
  }

  body{
    border-radius: 25%;
    background-color:coral;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: center;
  }

  li{
    margin: 10px;
    text-align: center;
    list-style-type: none;
  }

  a{
    color: black;
  }

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
    margin: auto;
    max-width: 100px;
    max-height: 30px;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  div#consoles{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }