div.gallery {
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    border: 1px solid #ccc;
    float:inherit;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  body{
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: center;
  }

  li{
    text-align: center;
    list-style-type: none;
  }

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
    margin: auto;
    max-width: 100px;
    max-height: 30px;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  div#consoles{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }