main{
    text-align: center;
}

.assignmentheader{
    background-color: aquamarine;
}

ul{
    list-style-type: none;
}

li{
    width: 20px;
    height: 20px;
    border: 2px;
    margin: 5px;
    background-color: aquamarine;
}

li:hover{
    background-color: white;
}