main{
    text-align: center;
}

header{
    background-color: aquamarine;
}

ul{
    list-style-type: none;
}

li{
    width: fit-content;
    border: 2px;
    margin: 5px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: navy;
}

li:hover{
    color: black;
    background-color: white;
}